<ion-view>
    <img src="img/background.jpg" class="background">
    <div class="background-cover"></div>
    <ion-content padding="true" scroll="false">
        <div id="fb-root"></div>
        <div class="app-main-page">
            <div class="centered-container">
                <div class="app-group-title">
                    <div class="app-title padding">
                        Speed Typing
                    </div>
                    <div class="app-subtitle padding">
                        How many words can you write in 60 seconds?
                    </div>
                </div>

                <div class="app-menu">
                    <ion-list>
                        <ion-item href="#/start">Start</ion-item>
                        <ion-item href="#/highscore">High Score</ion-item>
                        <ion-item href="#/settings">Settings</ion-item>                        
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>