<ion-view view-title="Settings" class="custom-view">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="false" scroll="false">
        <div class="container">
            <div class="list">                
                <label class="item item-input item-select">
                    <div class="input-label">
                        Language
                    </div>
                    <select>
                        <option selected>English</option>
                        <option>Romanian</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Text size
                    </div>
                    <select>
                        <option selected>14</option>
                        <option>16</option>
                        <option>18</option>
                        <option>20</option>
                    </select>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>