<ion-view view-title="Start" class="custom-view">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="false" scroll="false">
        <div class="container" ng-controller="StartCtrl">
            <div class="text-container">
                <span class="word current-word">am</span>
                <span class="word">vorbit</span>
                <span class="word">cu</span>
                <span class="word">cineva</span>
                <span class="word">despre</span>
                <span class="word">tine</span>
                <span class="word">si</span>
                <span class="word">despre</span>
                <span class="word">jobul</span>
                <span class="word">tau</span>
                <span class="word">bine</span>
                <span class="word">platit</span>                
            </div>
            <div class="countdown">
                <span ng-bind="counterMinutes"></span>:<span id="countdown-seonds" ng-bind="counterSeconds"></span>
            </div>
            <div class="word-input">
                <input type="text" id="user-input" ng-keypress="checkWord($event)">
            </div>
            <div id="background-cover" class="background-cover"></div>
            <div id="game-details" class="game-details">
                <div class="details-container">
                    <ion-list class="custom-list">
                        <ion-item>
                            <div class="left-group">
                                <div class="item-title">Words per minute (WPM)</div>
                                <div class="item-description">Words pe minute score without errors</div>
                            </div>
                            <div class="item-value">
                                <span id="wpm">50</span>
                            </div>
                        </ion-item>
                        <ion-item>
                            <div class="left-group">
                                <div class="item-title">Correct words</div>
                                <div class="item-description">Number of the correct words</div>
                            </div>
                            <div class="item-value">
                                <span id="correct-words">50</span>
                            </div>
                        </ion-item>
                        <ion-item>
                            <div class="left-group">
                                <div class="item-title">Wrong words</div>
                                <div class="item-description">Number of the wrong words</div>
                            </div>
                            <div class="item-value">
                                <span id="wrong-words">50</span>
                            </div>
                        </ion-item>
                        <ion-item>
                            <div class="left-group">
                                <div class="item-title">Accuracy</div>
                                <div class="item-description">Percentage of correct characters typed</div>
                            </div>
                            <div class="item-value">
                                <span id="accuracy">50%</span>
                            </div>
                        </ion-item>
                        <ion-item>
                            <div class="left-group">
                                <div class="item-title">Worst letters</div>
                                <div class="item-description">Letters with the most errors</div>
                            </div>
                            <div class="item-value">
                                <span id="worst-letters">50</span>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="buttons-container">
                    <button class="button button-positive">
                        Share on facebook
                    </button>
                    <button class="button button-positive" ng-click="close()">
                        Close
                    </button>                    
                </div>
            </div>
        </div>
</ion-content>
</ion-view>