html, body {
	height: 100%;  
}

body {
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#wrapper {
	margin: 5px;
}

.row {
	display: block;
	width: 100%;
}

.col-1,
.col-2 {
	display: block;
	position: relative;
}

.col-2:first-child {
	float: left;
	width: 37px;
}

.col-2:last-child {
	margin-left: 42px;
}

.item {
	cursor: pointer;
	width: 35px;
	line-height: 35px;
	text-align: center;
	background: #eee;
	color: #424242;
	text-decoration: none;
	border: 1px solid #D6D6D6;
	border-radius: 4px;	
}

.item img {
	width: 22px;
	height: 22px;
	border-radius: 100%;
}

#top-panel {
	overflow: hidden;
	height: 42px;
}

#top-panel .items {
	float: right;
}

#top-panel .items .item {
	display: none;
}

#left-panel {
	overflow: hidden;
	width: 40px;
}

#left-panel .items a {
	display: block;
	margin-bottom: 5px;
}

#whiteboard {
	border: solid 1px #ddd;
	width: 100%;
	height: 500px;
}

#top-panel .fa-circle {
	color: #FFF;
}

.picker {
	width: 22px;
	height: 20px;
	border: solid 1px #424242;
	border-radius: 100%;
	text-align: center;
	margin-top: 5px;
	padding: 2px;
	cursor: pointer;
}

.size-picker {
	width: 30px;
	height: 30px;
	border: none;
	background-color: #eee;
	text-align: center;
}

.display-inline-block {
	display: inline-block;
}